
<div class="container-fluid bg-dark text-light">
    <div class="row pt-3">
        <div class="col-sm-9 col-md-9 col-lg-10">Contact us</div>
        <div class='col-sm-3 col-md-3 col-lg-2'>
            <a href='#'><i class='bi bi-facebook text-primary'></i></a>
           <a href='#'><i class='bi bi-youtube text-danger'></i></a>
           <a href='#'><i class='bi bi-twitter text-primary'></i></a>
           <a href='#'><i class='bi bi-github text-light'></i></a>
        </div>
        
    </div>
    <div class="row">
        <div class="col-7">It typically includes features for adding and removing khata as per user<br>
            <a href="/" style="text-decoration:none;">
                <p class="display-4 " style="padding-left:5vh;color:yellowgreen;">PKhata</p>
            </a>
        </div>
        <div class="col-5"> <a href="#" style="text-decoration:none;">FAQ</a></div>
    </div>
    <div class="row text-center"><div class="col">&copy; Copyright all rights reserved</div></div>
</div>
</body>
</html>
